/*-----------body----------*/
html, body {
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
}/*////////////////////////*/



/*----------div grid---------*/
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 90%;
    max-width: 1800px;
    height: 100%;
    margin: auto;
}/*////////////////////////*/




/*----------cuadros---------*/
.bg-red {
    background-color: #ff6766;
    border:0.5px solid black;
}
.bg-green {
    background-color: #33cc00;
    border:0.5px solid black;
}
.bg-blue {
    background-color: #3366ff;
    border:0.5px solid black;
}/*////////////////////////*/




/*-----div botones------*/
.b2, .b3, .b4{
    padding: 30% 20%;
    margin: auto; 
}
/*---------botones--------*/
.bot1, .bot2, .bot3{
    background-color: lightgray ;
    font-size: 150% ;
    border:2px solid black; 
}/*////////////////////////*/



/*-------div circulos-------*/
.c2, .c3, .c4{
    margin: 20%;
}
/*--------circulos---------*/
.c-red { 
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 90%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #ff6766; 
     border:2px solid black;  
}
.c-green {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 90%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #33cc00; 
    border:2px solid black; 
}
.c-blue {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 90%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:#3366ff;  
    border:2px solid black; 
}/*////////////////////////*/